@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header{

    justify-content: space-between;
    align-items: center;



    display: flex;

}

body {
  background-color: #1c1c1c;
  min-width: 1260px;
   padding:0; 
   margin:0;
   font-family: "Montserrat", sans-serif;

  }
  h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 0;
  }
.gtable{
  padding-left: 70px;

}
.header-color{
  margin: 0;
  background-color: black;
  display: flex;
  height: 70px;
}
.vverx{

}
a{
    color: #fff;
    text-decoration: none;

}
a:hover{
    color: #7c7c7c;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-logo{

}
.header_nav{
  text-align: right;
  margin-left: 880px;
}
.header_nav a{
    font-size: 14px;
}
.header_list {
  display: flex;
  gap: 30px;
}
.black{

}
/*приветственная секция*/
.welcome__tittle{
    font-size: 59px;
    color: #000;

    line-height: 1.2em;
    letter-spacing: 0.08em;
    
}
.welcome__subtitle{
    font-size: 22px;
    color: rgb(0, 58, 204);
    font-weight: normal;
    padding-top: 25px;
}
.visota__form{

}
.container{
  width: 500px;

}
.welcome{

}
.gtable{

  padding-top: 40px;
  padding-bottom: 50px;
  background-image: url(./imges/7944-6rfNrzf5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  width: 100%;
}
/*Связь*/
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    height: 390px;

  }
  
  .form .title {
    color: rgb(49, 107, 255);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: -2;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(49, 107, 255);
    color: #fff;
    cursor: pointer;
    width: 100%;
  }
  .form p{
    font-size: 15px;
    margin: 0;
  }
      




  * {box-sizing: border-box;}
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    height: 70px;
  }
  
  .wrap-logo {
    display: flex;
    align-items: center;
   height: 70px;
  }
  
  header a {
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 15px; 
    border-radius: 4px;
  }
  

  
  nav {
    display: flex;
    align-items: center;
    }
  
  /*услуги*/
.usH
{
  color: #fff;
  font-size: 38px;
  line-height: 1.23;
  font-weight: 700;
  padding-top: 46px;
  padding-left: 74px;
}
ol{
  list-style-type:disc;
  color: rgb(211, 211, 211);

}
li{
  margin-bottom: 10px;
  font-size: 14px;

}
.container{

}
.services-card{
padding: 115px 0;

}
.services-card-title{
  font-size: 20px;
  color: rgb(49, 107, 255);
  padding-left: 26px;
}
.services-row{
  display: flex;
  column-gap: 100pxpx;
  margin-left: 53px;
  margin-right: 53px;
}
.container{

}
.r1{
  margin-left: -1em;
}


#portfolio {
  background-color: #fff; 
  text-align: center;
  padding: 0px 0;
}

.portfolio-content {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row; 
}

.gallery-item {
  margin: 10px;
  width: 25%; 
  max-width: 280px; 
}

.gallery-item img {
  width: 100%;
  transition: transform 0.3s ease; 
}

.gallery-item img:hover {
  transform: scale(1.1); 
}
.portfolioZ{
  font-size: 38px;
  line-height: 1.23;
  font-weight: 1000;

  padding-top: 60px;

}

.portfolioM{
  font-size: 22px;
  padding-top: 12px;
  padding-bottom: 70px;
}





#contacts {
  background-color: #efefef;
  text-align: center;
  padding: 50px 0;
}

.contact-info p {
  font-size: 20px;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.social-icons img:hover {
  transform: scale(1.1); 
}
.number{
  font-size: 44px;
  padding-top: 100px;
}
